@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

@layer base {
  :root {
    --background: 220 16% 96%;
    --foreground: 222 20% 16%;

    --muted: 215 14% 80%;
    --muted-foreground: 222 20% 16%;

    --popover: 220 16% 96%;
    --popover-foreground: 222 20% 16%;

    --border: 222 20% 70%;
    --input: 222 20% 70%;

    --card: 220 16% 96%;
    --card-foreground: 222 20% 16%;

    --primary: 222 20% 70%;
    --primary-foreground: 220 16% 96%;

    --secondary: 215 14% 80%;
    --secondary-foreground: 222 20% 16%;

    --accent: 215 14% 80%;
    --accent-foreground: 222 20% 16%;

    --destructive: 0 80% 50%;
    --destructive-foreground: 222 20% 16%;

    --ring: 222 20% 70%;

    --radius: 0.5rem;

    --pt-underline: 120 100% 25%;
  }

  .dark {
    --background: 220 16% 16%;
    --foreground: 222 20% 96%;

    --muted: 215 14% 25%;
    --muted-foreground: 222 20% 96%;

    --popover: 220 16% 16%;
    --popover-foreground: 222 20% 96%;

    --border: 222 20% 40%;
    --input: 222 20% 40%;

    --card: 220 16% 16%;
    --card-foreground: 222 20% 96%;

    --primary: 222 20% 65%;
    --primary-foreground: 220 16% 16%;

    --secondary: 215 14% 25%;
    --secondary-foreground: 222 20% 96%;

    --accent: 215 14% 25%;
    --accent-foreground: 222 20% 96%;

    --destructive: 0 80% 50%;
    --destructive-foreground: 222 20% 96%;

    --ring: 222 20% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scroll-list::-webkit-scrollbar {
    height: 0.75rem;
  }

  .scroll-list::-webkit-scrollbar-track {
    @apply bg-primary-foreground;
  }

  .scroll-list::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 100vw;
  }

  .no-scroll::-webkit-scrollbar {
    height: 0;
  }

  /* .marquee {
    animation: move-rtl 10s linear infinite;
    overflow: hidden;
    position: relative;
    display: flex;
    user-select: none;
    gap: 1rem;
  }

  .marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    min-width: 100%;
    max-width: fit-content;
  }

  @keyframes move-rtl {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  } */
}
